body {
    margin: 20px;
    padding: 0;
    background-color: #ffffff;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    min-height: 100vh; 
    overflow-y: auto;
    cursor: pointer;
}

#hint {
    position: top center fixed;
    top: 20px;
    right: 20px;
}

.cascade-img {
    position: absolute;
    width: 600px; 
    max-width: 80vw;
    border: none;
}
